span{
    font-size:16px;
    margin-right: 5px;
}
select{
    margin-right: 15px;
    padding:5px 15px;
    font-size:14px;
    border-radius: 5px;
}
.date__picker{
    margin-right: 15px;
}
.addPost{
    padding:5px 15px;
    color:white;
    background-color: rgb(35, 136, 160);
    font-size:14px;
    border-radius: 5px;
}