.sidebar_list{
    padding:30px;
    margin-left:10px;
  
    list-style-type: none;
    li{
       line-height:35px;
      
       .list__btn{
        &__active{
            color:rgb(34, 187, 214);
            border:none;
           
           background-color: white;
           font-weight: 550;
           font-size: 16px;
           cursor: pointer;
        }
           border:none;
           color:black;
           background-color: white;
           font-weight: 550;
           font-size: 15px;
           cursor: pointer;
           
       }
    }
    
    
}