.statistics__header{
    margin:20px 35px;
    display: flex;
    font-size:14px;
    justify-content: space-between;
    &__first{
        font-weight: 550;
        font-size:15px;
       
    }
}
.statistics__body{
    display:flex;
    justify-content: space-around;
    
    &__item{
        display: flex;
        align-items: center;
        &__icon{
            margin:20px;
        }
        &__count{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content:  space-between;
            .title{
                font-weight: 300;
                font-size:11px;
            }
            .count{
                font-weight: 600;
                font-size:22px;
                padding:7px;
            }
        }
    }
}