table {
  
  width: 100%;
  border-collapse: collapse;
  thead {
    width: 100%;
   
    top: 0;
    position: sticky;
    th {
      background-color: #ededed;
      padding: 10px;
      text-align: left;
      font-size: 14px;
    }
    th:first-child {
      width: 28%;
    }
  }
  tbody {
   
    tr {
      border-bottom: 2px solid   #ededed75;
      padding: 15px;

      td {
        border: none;
        text-align: left;
        padding-left: 20px;
        font-size: 16px;
        
      }
      td:first-child{
        display: flex;
        padding:15px;
        align-items:center;
        padding-left: 10px;
        font-size: 14px;
        img {
          width: 40px;
          height: 40px;
          background-color: #ededed;
          margin-right: 10px;
          margin-left: 20px;
        }
        .postname__desc{
            display: flex;
            flex-direction: column;
           align-items: flex-start;
          justify-content: center;
          .text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
            font-weight: 450;
            font-size: 12px;
            margin-bottom: 5px;
         }
          .text::after {
            position: absolute;
            content: "...";
            
            bottom: 0;
            right: 0;
          }
          .date{
           i{
              font-size: 12px;
              font-weight: 550;
            }
          }
         
        }
      }
    }
  }
}
